<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header></header>
    <nav>
        <div class="menu">
            <i class="fa-solid fa-bars menu-icon"></i>
        </div>
        <div class="auth">
            <a href="" class="login">Log in</a>
            <a href="" class="sign-up">Sign up</a>
        </div>
    </nav>
    <div class="main">
        <h1 class="heading"><span id="research-span">Research </span> <span id="aggregator-span">Aggregator</span></h1>
        <div class="categories">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search Articles">
                <a href="#" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="two-columns">
                <div class="health category-item">Health</div>
                <div class="politics category-item">Politics</div>
            </div>
            <div class="business category-item">Business and Economics</div>
            <div class="two-columns">
                <div class="technology category-item">Technology</div>
                <div class="environment category-item">Enviroment</div>
            </div>
            <img src="/images/research.jpg" alt="Research">
        </div>
       
        <div class="recently-added">
            <h1>Recently added research papers</h1>
            <p>Dive into a world of knowledge, innovation, and intellectual 
                exploration as we present the 
                latest research findings from experts around Southern and Eastern Africa
              </p>
            <div class="article first-article">
                <div class="avatar-profile">
                    <img src="/images/chris.jpg" class="avatar" alt="author">
                    <div class="author-intro">
                        <h3>Chris Rock</h3>
                        <h5>Chris added a research paper</h5>
                    </div>
                </div>
                <h2 class="research-title">Usage of Computers in Primary schools</h2>
                <div class="paragraph">
                    <p>Slowly but surely, open and distance learning (ODL) programmes are being regarded
                        as one of the most practical ways that universities across the world are increasingly 
                        adopting in order to increase access to university education. Likewise, Mzuzu University (MZUNI)
                            set up the Centre for Open and Distance Learning (CODL) to oversee the running of these programmes 
                            in 2011</p>
                </div>
                <a class="see-more" href="#">See more</a>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="comment">
                <header>
                    <img class="comment-profile" src="/images/chris.jpg" alt="icon">
                    <p>Chris Rock</p>
                </header>
                <div class="comment-area">
                    <textarea placeholder="Add a comment" name="" id="" cols="70" rows="4"></textarea>
                    <button>Add comment</button>
                </div>
                
            </div>
            <div class="article second-article">
                <h1 class="research-title">Title</h1>
            </div>
            <div class="article third-article">
                <h1 class="research-title">Title</h1>
            </div>

        </div>
    </div>
</body>
</html>